*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    list-style: none;
    font-family: "poppins", sans-serif;
    
}

:root{
    --bg-color: black;
    --second-bg-color: rgb(8, 8, 8);
    --third-bg-color:linear-gradient(to right,black, rgb(12, 12, 39)); 
    --fourth-bg-color:linear-gradient(to left,black, rgb(12, 12, 39)); 
    --fifth-bg-color: rgb(17 23 28 / 84%);
    --text-color:white;
    --main-color: #6dddf3;
    --image-shadow-color: #5a8cf1;
}
html{
    font-size: 60%;
    overflow-x: hidden;

}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 14% 2.5rem;
    background: rgba(6, 61, 93, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.05);

}
.logo span{
text-shadow: 0 0 25px var(--main-color);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;

}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);

}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;

}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
        
}
.home-img img{
    position: relative;
    top: 3rem;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--image-shadow-color);
    cursor: pointer;
    transition: .5s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 40px var(--text-color),
                0 0 65px var(--main-color)


}
.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease-in-out;
}

.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3s) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}
.btn{
    display: inline-block;

    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color) ;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 3px var(--main-color);

}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}
.text-animation{
    font-size: 30px;
    font-weight: 500;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Frontend Designer";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
        content: "UI / UX Designer";
    }
    61%,
    80%{
        content: "Web Developer";
    }
    81%,
    100%{
        content: "Full Stack Developer !";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }

}

/* about */

.about{
    display: grid;
    align-items: center;
    gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
    background-image: var(--third-bg-color);
}
#about-img img{
    width: 25vw;
}
.about-text h2{
    font-size: 60px
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: aliceblue;
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 4rem;
    text-align: justify;

}

/* services */
.service{
    background-image:var(--third-bg-color);
    width: 100%;
    height: 100%;
    
}

#services{
    color: #fff;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    
}

.sub-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 40px;
    padding-top: -190px;
    
}

.container{
    padding: 90px;
    
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 60px;
    margin-top: 50px;
    text-align: justify;
    
}
.services-list div{
    border-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-radius: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #d2d5d7,
                1px 1px 40px #3c77ed;
    background-image:var(--fourth-bg-color);
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.services-list div:hover{
    transform: translateY(-10px);
}


/* skill */


.myskills{
    background-image: var(--fourth-bg-color);
}
h3{
    margin-bottom: 5px;
    margin-top: -15px;
    /* font-size: 23px; */
}
h3 i{
    font-size: 27px;
}
li h3 span{
    margin-left: 80%;
    font-size: 18px;
}
.skill{
    text-transform: uppercase;
    font-size: 15px;
    width: 700px;
    margin: 30px auto;
    color:#fff;
    padding: 20px;
    background-image: var(--third-bg-color);
    box-shadow: 0 14px 28px rgb(0, 0, 0);
}
.skill li{
    margin: 8px 0;
    padding: 10px;
   
}
.bar{
    background: #353b48;
    display: block;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-top-right-radius: 100px;
    overflow: hidden;
    
    transition: all 0.3s cubic-bezier(.25, .8,.25,1);
}
.bar:hover{
    box-shadow: 0 0 25px var(--second-bg-color);
}
.bar span{
    height: 20px;
    float: left;   
    background: var(--main-color);
    box-shadow: 0 6px 25px var(--main-color) ;
}
.html{
    width: 80%;
    animation: html 3s;
   border-top-right-radius: 100px ;
}
.css{
    width: 70%;
    animation: css 3s;
    border-top-right-radius: 100px ;

}
.javascript{
    width: 40%;
    animation: javascript 3s;
    border-top-right-radius: 100px ;

}
.cpp{
    width: 80%;
    animation: cpp 3s;
    border-top-right-radius: 100px ;

}
.python{
    width: 30%;
    animation: python 3s;
    border-top-right-radius: 100px ;

}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes cpp{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}

/* contact */
.contact{
    background-color: var(--bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: white;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
    
}
.contact form .btn{
    margin-top: 2rem;

}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;

}
.footer ul li a{
    color: white;

    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;

}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);

}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
}
/* ---- */
@media(max-width:1285px){
    html{
        font-size: 55%;

    }
 
}
@media(max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .contact form{
        flex-direction: column;

    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width:895px){
    #menu-icon{
        display: block;

    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar .active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;

    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 56vw;
    }
    .services{
        grid-template-columns: repeat(1,1fr);
    }
}  